<div class="card-plain">
  <div class="header">
    <h5>{{ "auth.forget-password.page-title" | translate }}</h5>
    <span>{{ "auth.forget-password.page-description" | translate }}</span>
  </div>
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div [class]="!errors.email ? 'input-group ' : 'input-group has-danger'">
      <input
        type="text"
        [placeholder]="
          'auth.forget-password.form.email-input-placeholder' | translate
        "
        formControlName="email"
        [class]="
          !errors.email ? 'form-control ' : 'form-control form-control-danger'
        "
      />
      <span *ngIf="!errors.email" class="input-group-addon"
        ><i class="zmdi zmdi-email"></i
      ></span>
    </div>
    <label for="terms" class="text-primary" *ngIf="errors.email">
      {{ errors.email }}
    </label>

    <div class="footer">
      <button
        class="btn btn-primary btn-round btn-block"
        type="submit"
        [disabled]="!form.valid"
      >
        {{ "auth.forget-password.form.button" | translate }}
      </button>
    </div>
  </form>
  <app-help-link></app-help-link>
</div>
