<div *ngIf="action === true">
  <div class="overlay" style="display: block" (click)="action = !action"></div>
  <div class="notif-menu open stretchRight">
    <div class="slim_scroll">
      <div class="card">
        <div class="header">
          <h2><strong i18n>Notifications</strong></h2>
        </div>

        <div class="body">
          <ul class="notification list-unstyled scrollable-container">
            <li>
              <i class="zmdi zmdi-balance-wallet text-success"></i>
              <strong>+$30 New sale</strong>
              <p><a href="javascript:void(0)">Admin Template</a></p>
              <small class="text-muted">7 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-edit text-info"></i>
              <strong>You Edited file</strong>
              <p><a href="javascript:void(0)">Docs.doc</a></p>
              <small class="text-muted">15 min ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-delete text-danger"></i>
              <strong>Project removed</strong>
              <p><a href="javascript:void(0)">AdminX BS4</a></p>
              <small class="text-muted">1 hours ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-account text-success"></i>
              <strong>New user</strong>
              <p><a href="javascript:void(0)">UI Designer</a></p>
              <small class="text-muted">1 hours ago</small>
            </li>
            <li>
              <i class="zmdi zmdi-flag text-warning"></i>
              <strong>Alpino v1.0.0 is available</strong>
              <p><a href="javascript:void(0)">Update now</a></p>
              <small class="text-muted">5 hours ago</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
