<div class="theme-black">
  <div class="coming">
    <div class="container">
      <div class="col-md-12 content-center">
        <div class="row" style="background-color: #313740 !important">
          <div class="col-lg-6 col-md-12">
            <div class="company_detail">
              <img
                [src]="'assets/images/logo-h.png'"
                style="padding-bottom: 15px"
              />
              <h3>{{ "shared.pages.coming-page.page-title" | translate }} !</h3>
              <p>
                {{ "shared.pages.coming-page.page-description" | translate }}
              </p>
              <div class="footer">
                <hr />
                <app-links></app-links>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 offset-lg-1">
            <div class="card-plain">
              <div class="header">
                <h5>{{ "shared.pages.coming-page.page-title" | translate }}</h5>
                <span>{{
                  "shared.pages.coming-page.page-subtitle" | translate
                }}</span>
              </div>
              <img src="assets/images/coming_soon.png" style="max-width: 70%" />
              <div class="footer"></div>
              <a href="javascript:void(0);" class="link">
                {{ "shared.pages.coming-page.soon" | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
