<section class="content contact">
  <div class="container-fluid">
    <app-block-header
      [page]="'Dashbord'"
      [father]="'Statistics'"
      [subPage]="'Administration'"
    ></app-block-header>
    <app-general-statistics></app-general-statistics>
    <!--     <app-dentist-statistics></app-dentist-statistics>
 -->
    <div class="row">
      <div class="col-lg-5"><app-top-dentist></app-top-dentist></div>
      <div class="col-lg-7"><app-treatment-status></app-treatment-status></div>
      <!-- <div class="col-4">
        <app-dentist-activity></app-dentist-activity>
      </div> -->
    </div>

    <!--     <app-treatment-statistics></app-treatment-statistics>
 -->

    <!--     <app-compaign-performance></app-compaign-performance>
 -->
  </div>
</section>
