<section class="body">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 align-center">
        <div class="form-group form-float">
          <div class="container">
            <div class="header">
              <h6 class="title">
                {{
                  "components.new-treatment.new-treat-teeth.header-title"
                    | translate
                }}
              </h6>
            </div>
            <div class="container">
              <div class="header">
                <h6 class="align-center"></h6>
              </div>
              <div class="row align-center">
                <div
                  class="col-lg-2 col-md-2 col-sm-2"
                  *ngFor="let item of colors"
                >
                  <b>{{ item.label }} </b>
                  <div class="input-group">
                    <button
                      (click)="onPickColor(item)"
                      [class]="'btn btn-primary ' + item.class"
                    >
                      <i></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row well">
                <div
                  class="col-sm-4 col-md-3 col-lg-2 col-xl-1"
                  *ngFor="let t of teethTab"
                >
                  <div
                    class="demo-google-material-icon align-center"
                    (click)="onChangeColor(t.id, this.color)"
                  >
                    <img
                      fill
                      loading="lazy"
                      [src]="t.icone"
                      class="material-icons"
                      [style]="'background-color: ' + t.color"
                    />
                    <span class="icon-name">{{ t.id }} </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group">
                  <b class="float-left">
                    {{
                      "components.new-treatment.new-treat-teeth.comment-label"
                        | translate
                    }}</b
                  >
                  <textarea
                    [formControl]="comment"
                    rows="2"
                    class="form-control no-resize"
                    [placeholder]="
                      'components.new-treatment.new-treat-teeth.comment-placeholder'
                        | translate
                    "
                  ></textarea>
                </div>
              </div>
              <div class="float-left">
                <button
                  type="submit"
                  class="btn btn-primary btn-round"
                  (click)="onSubmit()"
                >
                  {{
                    "components.new-treatment.new-treat-teeth.save-button"
                      | translate
                  }}
                </button>
                <button
                  type="reset"
                  class="btn btn-primary btn-simple btn-round"
                  (click)="onReset()"
                >
                  {{
                    "components.new-treatment.new-treat-teeth.cancel-button"
                      | translate
                  }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
