<div class="row clearfix">
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="header">
        <h2>
          <strong>
            {{
              "components.treatment.finish-treatment.header-title-strong"
                | translate
            }}
          </strong>
          {{ "components.treatment.finish-treatment.header-title" | translate }}
        </h2>
      </div>
      <div class=" ">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12" style="text-align: center">
            <button
              class="btn btn-primary btn-round"
              (click)="onUpdateStatus('FINISHED')"
            >
              {{
                "components.treatment.finish-treatment.received-button"
                  | translate
              }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
