<div class="tab-pane active"></div>
<div class="card">
  <div class="body">
    <div class="table-responsive">
      <table class="table table-hover c_list">
        <thead>
          <tr>
            <th></th>
            <th>
              {{
                "pages.treatment-management.treatment-list.th-status"
                  | translate
              }}
            </th>
            <th>
              {{
                "pages.treatment-management.treatment-list.th-treatment"
                  | translate
              }}
            </th>
            <th data-breakpoints="xs sm md">
              {{
                "pages.treatment-management.treatment-list.th-progress"
                  | translate
              }}
            </th>
            <th data-breakpoints="xs sm md">
              {{
                "pages.treatment-management.treatment-list.th-dentist"
                  | translate
              }}
            </th>
            <th data-breakpoints="xs sm md">
              {{
                "pages.treatment-management.treatment-list.th-team" | translate
              }}
            </th>

            <th>
              {{
                "pages.treatment-management.treatment-list.th-plan" | translate
              }}
            </th>
            <th>
              {{
                "pages.treatment-management.treatment-list.th-delivery-date"
                  | translate
              }}
            </th>

            <th>
              {{
                "pages.treatment-management.treatment-list.th-action"
                  | translate
              }}
            </th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
