<div class="header">
  <img
    fill
    loading="lazy"
    ngSrc="
      user.profile.photo ? user.profile.photo : 'assets/images/profile_av.png'
    "
    class="rounded-circle"
    alt="User"
  />
  <h5>{{ user.userName }}</h5>
  <ul class="list-unstyled align-left m-l-40">
    <li>
      <a class="m-r-10" title="email" href="javascript:void(0);"
        ><i class="zmdi zmdi-google"></i> </a
      ><span>{{ user.email }}</span>
    </li>
    <li>
      <a class="m-r-10" title="twitter" href="javascript:void(0);"
        ><i class="zmdi zmdi-phone"></i> </a
      ><span>{{ user.profile.phone }}</span>
    </li>
    <li>
      <a class="m-r-10" title="twitter" href="javascript:void(0);"
        ><i class="zmdi zmdi-calendar"></i> </a
      ><span> {{ user.createdAt | date }} </span>
    </li>

    <li>
      <a class="m-r-10" title="twitter" href="javascript:void(0);"
        ><i class="zmdi zmdi-time"></i> </a
      ><span>At: {{ user.createdAt | date : "HH:mm:ss" }} </span>
    </li>
    <li>
      <a class="m-r-10" title="twitter" href="javascript:void(0);"
        ><i class="zmdi zmdi-power"></i> </a
      ><span>{{ user.roleList[0].name }} Registration</span>
    </li>
  </ul>
</div>
