<div class="card">
  <div class="header">
    <h2><strong>Treatment</strong> Statistics</h2>
    <!--  <ul class="header-dropdown">
      <li class="dropdown">
        <a
          href="javascript:void(0);"
          class="dropdown-toggle"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="zmdi zmdi-more"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="javascript:void(0);">Action</a></li>
          <li><a href="javascript:void(0);">Another action</a></li>
          <li><a href="javascript:void(0);">Something else</a></li>
          <li><a href="javascript:void(0);" class="boxs-close">Delete</a></li>
        </ul>
      </li>
    </ul> -->
  </div>
  <div class="body">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <canvas id="m_area_chart" height="100px"></canvas>
      </div>
      <div class="col-md-1">
        <!--   <span
          class="badge badge-default"
          (click)="getYearStatics(2020, chartColors.grey)"
          >2020</span
        >
        <span
          class="badge badge-primary"
          (click)="getYearStatics(2021, chartColors.red)"
          >2021</span
        > -->
        <span
          class="badge badge-success"
          (click)="getYearStatics(2022, chartColors.green)"
          >2022</span
        >
        <span
          class="badge badge-warning"
          (click)="getYearStatics(2023, chartColors.yellow)"
          >2023</span
        >
        <span
          class="badge badge-info"
          (click)="getYearStatics(2024, chartColors.blue)"
          >2024</span
        >
      </div>
    </div>
  </div>
</div>
