<div class="card">
  <div class="header">
    <h2><strong>Platform</strong> Performance</h2>
    <ul class="header-dropdown">
      <li class="dropdown">
        <a
          href="javascript:void(0);"
          class="dropdown-toggle"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="zmdi zmdi-more"></i>
        </a>
        <ul class="dropdown-menu slideUp">
          <li><a href="javascript:void(0);">Action</a></li>
          <li><a href="javascript:void(0);">Another action</a></li>
          <li><a href="javascript:void(0);">Something else</a></li>
          <li>
            <a href="javascript:void(0);" class="boxs-close">Deletee</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="row clearfix">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card info-box-2">
        <div class="body l-seagreen">
          <div class="icon col-12">
            <i class="zmdi zmdi-picture-in-picture"></i>
          </div>
          <div class="content col-12">
            <div class="text">STL</div>
            <div class="number">98</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card info-box-2">
        <div class="body l-parpl">
          <div class="icon col-12 m-t-5">
            <i class="zmdi zmdi-picture-in-picture"></i>
          </div>
          <div class="content col-12">
            <div class="text">IMAGES</div>
            <div class="number">457</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card info-box-2">
        <div class="body l-blue">
          <div class="icon col-12 m-t-5">
            <i class="zmdi zmdi-file-text"></i>
          </div>
          <div class="content col-12">
            <div class="text">PDF</div>
            <div class="number">125</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card info-box-2">
        <div class="body l-coral">
          <div class="icon col-12 m-t-10">
            <i class="zmdi zmdi-play-circle-outline"></i>
          </div>
          <div class="content col-12">
            <div class="text">VIDEOS</div>
            <div class="number">063</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  <div class="body m-b-10">
    <div class="progress-container l-black">
      <span class="progress-badge">Repport Total Size</span>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          aria-valuenow="68"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 68%"
        >
          <span class="progress-value">68%</span>
        </div>
      </div>
    </div>
  </div>
  <div class="body m-b-10">
    <div class="progress-container progress-info">
      <span class="progress-badge">Images Total Size</span>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          aria-valuenow="86"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 91%"
        >
          <span class="progress-value">91%</span>
        </div>
      </div>
    </div>
  </div>
  <div class="body m-b-20">
    <div class="progress-container progress-warning">
      <span class="progress-badge">Scans Total Size</span>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          aria-valuenow="35"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 35%"
        >
          <span class="progress-value">35%</span>
        </div>
      </div>
    </div>
  </div>
  <div class="body m-b-20">
    <div class="progress-container progress-warning">
      <span class="progress-badge">Videos Total Size</span>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          aria-valuenow="35"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 35%"
        >
          <span class="progress-value">35%</span>
        </div>
      </div>
    </div>
  </div>
  <div class="body align-center">
    <div class="row">
      <div class="col-4">
        <h4 class="margin-0">60%</h4>
        <p>Monthly</p>
      </div>
      <div class="col-4">
        <h4 class="margin-0">20%</h4>
        <p>Weekly</p>
      </div>
      <div class="col-4">
        <h4 class="margin-0">30%</h4>
        <p>Daily</p>
      </div>
    </div>
    <div class="sparkline-pie">
      <div class="chart-container">
        <canvas id="sparkline-pie">{{ chart }}</canvas>
      </div>
    </div>
  </div> -->
</div>
