/* .hover button {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: none;
}
.file:hover  .hover button {
  display: block;
}
 */



