<div class="card-plain">
  <div class="header">
    <h5>{{ "auth.update-password.page-title" | translate }}</h5>
    <span>{{ "auth.update-password.page-description" | translate }}</span>
  </div>
  <form class="form" [formGroup]="updateForm" (ngSubmit)="onSubmit($event)">
    <div [class]="!errors.password ? 'input-group' : 'input-group has-danger'">
      <input
        [type]="showPassword ? 'text' : 'password'"
        [class]="
          !errors.password ? 'form-control' : 'form-control form-control-danger'
        "
        [placeholder]="
          'auth.update-password.form.password-input-placeholder' | translate
        "
        formControlName="password"
      />
      <span class="input-group-addon" *ngIf="!errors.password">
        <ng-container *ngIf="!showPassword; else elseTemplate">
          <i
            type="button"
            class="zmdi zmdi-lock-outline"
            (click)="showPassword = !showPassword"
          ></i>
        </ng-container>
        <ng-template #elseTemplate>
          <i
            type="button"
            class="zmdi zmdi-lock-open"
            style="color: #f96332"
            (click)="showPassword = !showPassword"
          ></i>
        </ng-template>
      </span>
    </div>
    <label
      *ngIf="errors.password !== undefined"
      for="terms"
      class="text-primary"
    >
      {{ errors.password }}</label
    >

    <div [class]="!errors.password ? 'input-group' : 'input-group has-danger'">
      <input
        [type]="showConfirmPassword ? 'text' : 'password'"
        [class]="
          !errors.password ? 'form-control' : 'form-control form-control-danger'
        "
        [placeholder]="
          'auth.update-password.form.confirm-password-input-placeholder'
            | translate
        "
        formControlName="confirmPassword"
      />
      <span class="input-group-addon" *ngIf="!errors.password">
        <ng-container *ngIf="!showConfirmPassword; else elseTemplate">
          <i
            type="button"
            class="zmdi zmdi-lock-outline"
            (click)="showConfirmPassword = !showConfirmPassword"
          ></i>
        </ng-container>
        <ng-template #elseTemplate>
          <i
            type="button"
            class="zmdi zmdi-lock-open"
            style="color: #f96332"
            (click)="showConfirmPassword = !showConfirmPassword"
          ></i>
        </ng-template>
      </span>
    </div>
    <label
      *ngIf="errors.confirmPassword !== undefined"
      for="terms"
      class="text-primary"
    >
      {{ errors.confirmPassword }}</label
    >
    <div class="footer">
      <button
        class="btn btn-primary btn-round btn-block"
        type="submit"
        [disabled]="!updateForm.valid"
      >
        {{ "auth.update-password.form.update-button" | translate }}
      </button>
    </div>
  </form>

  <app-help-link></app-help-link>
</div>
